@import url("./vars.css");
@import url("./CodeMirror.css");

:root {
	/*header img*/
	--header-background-img: url('./neil-jetbrains-mono/png/h.png');
	--header-background-img-bottom: url('./neil-jetbrains-mono/png/h-bottom.png');
}

html,
body,
#write {
	background: #fcfcfc;
	font-weight: 400;
	font-family: var(--jetbrains-mono-font);
}

body {
	font-family: var(--jetbrains-mono-font) !important;
}

strong {
	/* font-weight: 900; */
	font-size: 1.15em;
}

underline {
	text-decoration: underline;
	text-decoration-color: red;
}

/*header:begin*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: #000;
	text-align: center;
}

h1::before,
h2::before,
h3::before,
h4::before,
h1::after,
h2::after,
h3::after,
h4::after,
h3.md-focus::before,
h4.md-focus::before,
h3.md-focus::after,
h4.md-focus::after {
	position: static;
	content: '';
	display: block;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto 80%;
	width: 100%;
	z-index: 1;
	margin: 0 0;
	padding: 20px 30px;
	border: 0;
}

h1::before,
h2::before,
h3::before,
h4::before {
	background-image: var(--header-background-img);
}

h1::after,
h2::after,
h3::after,
h4::after {
	background-image: var(--header-background-img-bottom);
}

.md-heading::after {
	border-bottom: 1px solid var(--main-color);
}

h2 {
	line-height: 3rem;
	margin: 0 0 1.9375rem;
	padding: 0 30px;
	margin-top: 3rem
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}

/*header:end*/

/*task list:begin*/
.task-list-done>p {
	color: var(--task-list-checked-font-color);
	text-decoration: line-through;
}

.md-list-item {
	color: var(--task-list-item-color);
}

.md-task-list-item>input::before {
	content: "√";
	display: inline-block;
	width: 1.33333rem;
	height: 1.6rem;
	vertical-align: middle;
	text-align: center;
	color: rgb(221, 221, 221);
	background-color: rgb(254, 254, 254);
}

.md-task-list-item {
	padding-left: 1.6rem;
}

.md-task-list-item>input:checked:before,
.md-task-list-item>input[checked]:before {
	color: var(--task-list-checked-box-color);
}

.md-math-container {
	background-color: rgb(235, 236, 237);
	border-radius: 0.3rem;
}

/*task list:end*/

/*fences:begin 代码块*/

/* code, */
.md-fences {
	/* padding: .5em; */
	/*background: #f0f0f0;*/
	border: 1px solid #ccc;
	padding: .1em;
	font-size: 0.9em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.md-fences {
	margin: 0 0 20px;
	font-size: 1em;
	padding: 0.3em 1em;
	padding-top: 0.4em;
}

.md-fences {
	border-radius: 1.0rem;
}

.md-fences>.code-tooltip {
	font-weight: 900;
	background-color: var(--tooltip-background-color);
	border-radius: 0.3rem;
	color: red;
}

.md-fences::before {
	content: '';
	display: block;
	background: url("./neil-jetbrains-mono/svg/code.svg") 10px 10px / 40px no-repeat rgb(255, 255, 255, 0);
	height: 30px;
	width: 100%;
	margin-bottom: -7px;
	border-radius: 5px;
}

span[md-inline='code'] {
	background-color: var(--code-background-color);
	border-radius: 0.2rem;
	padding: 0.1rem 0rem;
}

/*fences:end 代码块*/

/*toc:begin 内容目录*/
.md-toc {
	border: 1px dashed var(--toc-border-color);
	background-image: url("./neil-jetbrains-mono/png/lt.png"), url("./neil-jetbrains-mono/png/rt.png");
	background-position: 1em 2.4em, right 2.4em;
	background-repeat: no-repeat;
	background-size: 8em;
	padding: auto;
	/* color: var(--main-color); */

}

.md-toc {
	background-image: url(./neil-jetbrains-mono/png/jewelry.jpeg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto;
	background-origin: padding-box;
}

.md-toc::before {
	content: '目录 Contents';
	display: table;
	border-bottom: 1px dashed var(--toc-border-color);
	padding: 0.4em 0em 0.4em 1em;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	height: 1.8em;
}

/*toc:end 内容目录*/

html {
	font-size: 16px;
}

#write h1:empty:before,
#write h2:empty:before,
#write h3:empty:before,
#write h4:empty:before,
#write h5:empty:before,
#write h6:empty:before,
#write h1:empty:after,
#write h2:empty:after,
#write h3:empty:after,
#write h4:empty:after,
#write h5:empty:after,
#write h6:empty:after {
	content: '';
}

#write {
	max-width: 914px;
	text-align: justify;
}

#write>h1:first-child {
	margin-top: 2.75rem;
}

#write>h2:first-child {
	margin-top: 1.75rem;
}

#write>h3:first-child {
	margin-top: 1rem;
}

#write>h4:first-child {
	margin-top: 0.5rem;
}



p {
	color: #111;
	font-size: 1rem;
	line-height: 1.75rem;
	margin: 0 0 1.25rem;
}

@media screen and (max-width: 48em) {
	blockquote {
		margin-left: 1rem;
		margin-right: 0;
		padding: 0.5em;
	}

	.h1,
	h1 {
		font-size: 2.827rem;
	}

	.h2,
	h2 {
		font-size: 1.999rem;
	}

	.h3,
	h3 {
		font-size: 1.413rem;
	}

	.h4,
	h4 {
		font-size: 1.250rem;
	}

	.h5,
	h5 {
		font-size: 1.150rem;
	}

	.h6,
	h6 {
		font-size: 1rem;
	}
}

a,
.md-def-url {
	color: #990000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: var(--tag-a-hover);
}

/**/
table {
	margin-bottom: 20px
}

table th {
	color: red;
}
table td:is(:first-child) {
	font-weight: 900;
}

table th:not(:last-child),
table td:not(:last-child) {
	border-right: 1px dashed var(--main-color-major);
}

table th,
table td {
	padding: 8px;
	line-height: 1.25rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}

thead tr {
	background-color: var(--thead-background-color);
}

tbody tr:nth-of-type(2n) {
	background-color: var(--tbody-background-color);
}

table th {
	font-weight: bold;
}

table thead th {
	vertical-align: bottom;
}

table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0
}

table tbody+tbody {
	border-top: 2px solid #ddd
}


/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
	.task-list-item input:before {
		margin-top: -0.2rem;
	}

	.task-list-item input:checked:before,
	.task-list-item input[checked]:before {
		margin-top: -0.2rem;
	}
}

@media print {
	.task-list-item input {
		border: 0;
	}
}

blockquote {
	margin: 0 0 1rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 0.5rem;
	background-color: var(--blockquote-background-color);
}

blockquote,
blockquote p {
	line-height: 1.6;
	color: #3f3f3f;
}

#write pre.md-meta-block {
	min-height: 30px;
	background: #f8f8f8;
	padding: 1.5em;
	font-weight: 300;
	font-size: 1em;
	padding-bottom: 1.5em;
	padding-top: 3em;
	margin-top: -1.5em;
	color: #999;
	border-left: 1000px #f8f8f8 solid;
	margin-left: -1000px;
	border-right: 1000px #f8f8f8 solid;
	margin-right: -1000px;
	margin-bottom: 2em;
}

.MathJax_Display {
	font-size: 0.9em;
	margin-top: 0.5em;
	margin-bottom: 0;
}

p.mathjax-block,
.mathjax-block {
	padding-bottom: 0;
}

.mathjax-block>.code-tooltip {
	bottom: 5px;
	box-shadow: none;
}

.md-image>.md-meta {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.md-image>img {
	margin-top: 2px;
}

.md-image>.md-meta:first-of-type:before {
	padding-left: 4px;
}

#typora-source {
	color: #555;
}

/** ui for windows **/
#md-searchpanel {
	border-bottom: 1px solid #ccc;
}

#md-searchpanel .btn {
	border: 1px solid #ccc;
}

#md-notification:before {
	top: 14px;
}

#md-notification {
	background: #eee;
}

.megamenu-menu-panel .btn {
	border: 1px solid #ccc;
}