/*
fonts initalization
*/
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sofia);


@font-face {
	font-family: 'dymht';
	src: url('DouyinSansBold.otf');
	font-weight: bold;
}

@font-face {
	font-family: "Noto Sans SC Medium";
	src: url(./rainbow/NotoSansSC-Medium.otf);
}

/* 行内代码字体 */
@font-face {
	font-family: "Source Code Pro Regular";
	src: url(./rainbow/SourceCodePro-Regular.ttf);
}

/* 代码块字体 */
@font-face {
	font-family: 'JetBrains Mono';
	src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype");
}

/* 标题2字体 */
@font-face {
	font-family: 'mellow aaa';
	src: url('ChillRoundF.ttf');
}

@page {
	size: A4;
	margin: 8mm 0mm;
}

/*
root variables including colors, font-familys and a shadow style
*/
:root {
	--h-border-color: rgb(255, 191, 191);
	--h-bg-color: rgb(255, 232, 232);
	--table-border-color: rgb(255, 235, 211);
	--th-bg-color: rgb(255, 243, 228);
	--tr-bg-color: rgb(255, 249, 242);
	--tr-hover-bg-color: rgb(254, 255, 230);
	--code-bg-color: rgb(247, 247, 247);
	--del-color: rgb(151, 151, 151);
	--selection-bg-color: rgb(235, 227, 255);
	--block-shadow: 0.15rem 0.15rem 0.5rem rgb(150, 150, 150);
	--sans-serif-font: "Noto Sans SC Medium", "Noto Sans SC", sans-serif;
	--monospace-font: "Source Code Pro Regular", "Source Code Pro", monospace;
}

html {
	font-size: 16px;
}


#write {
	font-family: var(--sans-serif-font);
	max-width: 60rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

/*
yaml header settings
*/
#write pre.md-meta-block {
	font-family: var(--monospace-font);
	font-size: 1rem;
	text-align: left;
	padding: 0.6rem;
	color: rgb(134, 134, 134);
	background-color: var(--code-bg-color);
	border-radius: 0.4rem;
}

/*
headers settings
*/

#write h4 {
	text-decoration: underline dotted var(--h-border-color) 0.2rem;
}

/*
tables settings
*/
#write table {
	border-collapse: collapse;
	border: 0.25rem solid var(--table-border-color);
}

#write table th {
	background-color: var(--th-bg-color);
}

#write table th,
td {
	text-align: center;
	border: 0.13rem dashed var(--table-border-color);
	padding: 0.5rem;
}

#write table tr:nth-child(even) {
	background-color: var(--tr-bg-color);
}

#write table tr:hover {
	background-color: var(--tr-hover-bg-color);
}

/*
checkboxes settings
*/
#write .task-list-item input[type="checkbox"] {
	width: 0;
	height: 0;
}

#write .task-list-item input[type="checkbox"]::before,
#write input[type="checkbox"]:checked::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: -0.15rem;
	top: -0.41rem;
	width: 0.8rem;
	height: 0.8rem;
	border: 0.08rem solid var(--del-color);
	border-radius: 50%;
	transition: all 0.2s;
}

#write .task-list-item input[type="checkbox"]:checked::before {
	padding: 0.12rem;
	background-clip: content-box;
	background-color: black;
}

#write .task-list-item input[type="checkbox"]:checked+p {
	text-decoration: line-through;
	color: var(--del-color);
}

#write input[type='checkbox']:hover::before {
	transition: all 0.2s;
	background-color: rgb(228, 228, 228);
}


#write p {
	font-size: 1rem;
	line-height: 1.6rem;
}

#write .cm-s-inner .CodeMirror-gutters {
	border: none;
}

#write .cm-s-inner .CodeMirror-linenumber {
	color: rgb(212, 212, 212);
}

#write .cm-s-inner .cm-keyword {
	color: rgb(204, 35, 35);
}

#write .cm-s-inner .cm-number {
	color: rgb(27, 57, 226);
}

#write .cm-s-inner .cm-def {
	color: rgb(146, 50, 255);
}

#write .cm-s-inner .cm-operator {
	color: rgb(204, 35, 35);
}

#write .cm-s-inner .cm-variable2 {
	color: rgb(38, 129, 219);
}

#write .cm-s-inner .cm-variable3 {
	color: rgb(204, 35, 35);
}

#write .cm-s-inner .cm-comment {
	color: rgb(18, 129, 18);
}

#write .cm-s-inner .cm-string {
	color: rgb(18, 129, 18);
}

#write .cm-s-inner .cm-builtin {
	color: rgb(218, 135, 12);
}

#write .cm-tag {
	color: rgb(139, 10, 10);
}

/*
tooltips settings
*/
#write .code-tooltip {
	box-shadow: 0.1rem 0.1rem 0.2rem rgb(150, 150, 150);
	border-radius: 0.2rem;
	margin-top: 0.3rem;
}

/*
selected texts in code blocks settings
*/
#write .CodeMirror-selected,
#write .CodeMirror-selectedtext,
#write .in-text-selection {
	background-color: var(--selection-bg-color) !important;
}

/*
diagrams settings
*/
#write pre[lang=’sequence’],
#write pre[lang=’flow’],
#write pre[lang=’mermaid’] {
	background-color: var(--code-bg-color);
	border-radius: 0.4rem;
	box-shadow: var(--block-shadow);
}

/*
deletes settings
*/
#write del {
	color: var(--del-color);
}



/* ----------------------------------------------------------------------------------------- */
/* 图片 */
/* 编辑模式 */
div.internal-embed.media-embed.image-embed.is-loaded img {
	display: block;
	margin: 0.6rem auto;
	box-shadow: 0.12rem 0.02rem 0.6rem rgb(150, 150, 150);
	max-width: 96%;
}

.markdown-source-view.mod-cm6 .cm-content>img {
	margin: 0rem auto !important;
	/* box-shadow: 0.12rem 0.02rem 0.6rem rgb(150, 150, 150); */
	box-shadow: none;
	max-width: 96%;

	border-top: 0.6rem solid transparent;
	border-bottom: 0.6rem solid transparent;

	position: relative;
}

.HyperMD-quote-1 img {
	margin: 0rem auto !important;
	max-width: 96%;
	box-shadow: none;

	border-top: 0.6rem solid transparent;
	border-bottom: 0.6rem solid transparent;
}

/* 阅读模式 */
span.internal-embed.media-embed.image-embed.is-loaded>img {
	display: block;
	margin: 0 auto;
	box-shadow: 0.12rem 0.02rem 0.6rem rgb(150, 150, 150);
	max-width: 102%;
}

div.excalidraw-svg.excalidraw-embedded-img.excalidraw-canvas-immersive {
	display: block;
	margin: 0.6rem auto;
	box-shadow: 0.12rem 0.02rem 0.6rem rgb(150, 150, 150);
	max-width: 102%;
}

img:not(.HyperMD-quote-1 img) {
	display: block;
	margin: 0.6rem auto !important;
	box-shadow: 0.12rem 0.02rem 0.6rem rgb(150, 150, 150);
	max-width: 102%;
}

img[alt="50"] {
	width: 50px;
}

img[alt="100"] {
	width: 100px;
}

img[alt="150"] {
	width: 150px;
}

img[alt="200"] {
	width: 200px;
}

img[alt="250"] {
	width: 250px;
}

img[alt="300"] {
	width: 300px;
}

img[alt="350"] {
	width: 350px;
}

img[alt="400"] {
	width: 400px;
}

img[alt="450"] {
	width: 450px;
}

img[alt="500"] {
	width: 500px;
}

img[alt="550"] {
	width: 550px;
}

img[alt="600"] {
	width: 600px;
}

img[alt="650"] {
	width: 650px;
}

img[alt="700"] {
	width: 700px;
}

img[alt="750"] {
	width: 750px;
}

img[alt="800"] {
	width: 800px;
}

img[alt="850"] {
	width: 850px;
}

img[alt="900"] {
	width: 900px;
}

img[alt="950"] {
	width: 950px;
}

img[alt="1000"] {
	width: 1000px;
}


/* ---------------------------------------------------------------------------------- */
/* 链接 */
/* 外链 */
/* 编辑模式 */
.cm-s-obsidian span.cm-url {
	text-decoration: none;
	color: #3481c5;
	border-bottom: 2px dashed #3481c5;
}

/* 光标在链接上时，鼠标悬浮时 */
.cm-s-obsidian span.cm-url:hover {
	color: #3481c5;
	text-decoration: none;
	border-bottom: 2px solid #3481c5;
}

/* 光标不在链接上时，鼠标悬浮时 */
@media (hover: hover) {
	.markdown-source-view.mod-cm6 .cm-url .cm-underline:hover {
		color: #3481c5;
		/* text-decoration-line: var(--link-external-decoration-hover); */
		text-decoration: none;
	}
}

@media (hover: hover) {
	.markdown-source-view.mod-cm6 .cm-url .cm-underline {
		color: #3481c5;
		text-decoration: none;
		/* text-decoration-line: var(--link-external-decoration-hover); */
	}
}

.cm-s-obsidian span.cm-link {
	color: #3481c5;
	border-bottom: 2px dashed #3481c5;
}

.markdown-source-view.mod-cm6 .cm-link .cm-underline,
.markdown-source-view.mod-cm6 .cm-url .cm-underline {
	text-decoration-line: none;
}

@media (hover: hover) {
	.cm-s-obsidian span.cm-link:hover {
		color: #3481c5;
		text-decoration-line: none;
	}
}

@media (hover: hover) {
	.markdown-source-view.mod-cm6 .cm-link .cm-underline:hover {
		color: #3481c5;
		text-decoration-line: none;
		border-bottom: 2px solid #3481c5;
	}
}

/* 阅读模式 */
a:link {
	text-decoration: none;
	color: #3481c5;
}

.external-link {
	padding-right: 0;
	background-image: none;
	text-decoration: none;
	color: #3481c5;

	border-bottom: 2px dashed #3481c5;
}

a.external-link:hover {
	text-decoration: none;
	color: #3481c5;

	border-bottom: 2px solid #3481c5;
}

/* 内链 */
/* 编辑模式 */
.cm-s-obsidian span.cm-hmd-internal-link {
	color: #3481c5;
}

.cm-s-obsidian span.cm-hmd-internal-link:hover {
	color: #3481c5;
	text-decoration-line: none;
	border-bottom: 2px solid #3481c5;
}

div.cm-active.cm-line>span.cm-hmd-internal-link>span {
	color: #3481c5;
}

div.cm-line.cm-line>span.cm-hmd-internal-link>span {
	color: #3481c5;
}

.markdown-source-view.mod-cm6 .cm-underline {
	color: #3481c5;
	text-decoration-line: none;

	border-bottom: 2px dashed #3481c5;
}

.cm-hmd-footnote.cm-link>.cm-underline {
	color: #3481c5;
}

@media (hover: hover) {
	.markdown-source-view.mod-cm6 .cm-hmd-internal-link .cm-underline:hover {
		text-decoration-line: none;
	}
}

.markdown-source-view.mod-cm6 .is-unresolved .cm-underline {
	text-decoration-line: none;
}

.markdown-embed {
	border-left: 3.5px solid hsla(210, 34%, 63%, 0.4);
}

/* 阅读模式 */
.markdown-rendered a.internal-link.is-unresolved {
	color: #3481c5;
}

.markdown-rendered a.internal-link {
	color: #3481c5;
	text-decoration: none;
	border-bottom: 2px dashed hsla(210, 34%, 63%);
}

@media (hover: hover) {

	.metadata-container .internal-link:hover,
	.markdown-rendered .internal-link:hover {
		color: #3481c5;
		text-decoration: none;
		border-bottom: 2px solid hsla(210, 34%, 63%);
	}
}

@media (hover: hover) {

	.metadata-container .internal-link.is-unresolved:hover,
	.markdown-rendered .internal-link.is-unresolved:hover {
		color: #3481c5;
		text-decoration: none;
		border-bottom: 2px solid hsla(210, 34%, 63%);
	}
}

/* ----------------------------------------------------------------------------------- */
/* 特殊字体 */
/* 高亮 */
.theme-light span.cm-highlight {
	background-color: hsla(34, 100%, 80%, 0.847);
	border-radius: 4px;
	padding: 1px 3px;
}

.theme-dark .cm-s-obsidian span.cm-highlight:not([class*="code"]) {
	background-color: hsla(57, 40%, 38%, 0.541);
	border-radius: 5px;
	padding: 1px 2px;
	margin: 0 2px;
}

span.cm-formatting.cm-formatting-highlight.cm-highlight {
	margin-left: -3.8px;
	margin-right: -3.8px;
}

.theme-light .markdown-rendered mark {
	background-color: hsla(34, 100%, 80%, 0.847);
	border-radius: 4px;
	padding: 0px 3px;
}

.theme-dark .markdown-rendered mark {
	background-color: hsla(57, 40%, 38%, 0.541);
	border-radius: 4px;
	padding: 0px 3px;
}

/* 删除线 */
.cm-strikethrough {
	color: #797979 !important;
}

del {
	color: #797979;
}

/* 粗体 */
.theme-light .cm-strong {
	color: #004faa !important;
}

.theme-dark .cm-strong {
	color: #3481c5 !important;
}

strong {
	color: #004faa !important;
}

.theme-dark strong {
	color: #3481c5 !important;
}

strong {
	margin-left: 2px;
	margin-right: 3.3px;
}

span.cm-em.cm-strong {
	margin-left: 2px;
	margin-right: 3.3px;
}

/* -------------------------------------------------------------------------- */
/* 正文字体 */
.markdown-source-view.mod-cm6 .cm-scroller {
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, pingfang sc, hiragino sans gb, microsoft yahei, wenquanyi micro hei, helvetica neue, sans-serif;
}

.markdown-preview-view {
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, pingfang sc, hiragino sans gb, microsoft yahei, wenquanyi micro hei, helvetica neue, sans-serif;
}

.markdown-rendered p {
	margin-block-start: 0;
	margin-block-end: 0.5rem;
}

/* ----------------------------------------------------------------------------------------------- */
/* 下划线 */
u {
	text-decoration: underline;
	text-decoration-thickness: 0.22rem;
	text-decoration-color: #3481c5;
	text-underline-offset: 0.24em;
	/* 调整下划线与文字之间的距离 */
	text-decoration-skip-ink: auto;
	/* 控制下划线避开文字的部分 */
}

/* --------------------------------------------------------------------------------------------- */
/* 数学公式 */
div.math.math-block {
	overflow: auto;

}

/* ------------------------------------------------------------ */
/* 标题 */
.HyperMD-header .cm-header-1 {
	font-size: 1.13em !important;
	font-family: "dymht";
}

.HyperMD-header .cm-header-1:not(.cm-formatting-header-1.cm-header.cm-header-1)::before {
	content: 'Ⅰ';
	font-size: 2.7rem;
	font-style: italic;

	color: #004faa;
	position: absolute;
	display: inline-block;
	left: -0.3rem;
	bottom: 0.1rem;

	z-index: -1;
}

.HyperMD-header-1 {
	text-align: center;
	border-bottom-style: groove;
	border-color: #004faa;
	border-width: 0.2rem;
	padding-bottom: 0.1rem !important;
	line-height: 2.4rem;
}

.markdown-source-view.mod-cm6 .cm-content>.HyperMD-header-1 {
	margin: auto auto 0.3rem auto !important;
}

/* 阅读模式 */
h1,
.markdown-rendered h1 {
	text-align: center;
	font-size: 2em !important;
	border-bottom-style: groove;
	border-color: #004faa;
	border-width: 0.2rem;
	padding-bottom: 0 !important;
	line-height: 2.9rem;
	margin-block-end: 0.5rem;

	position: relative;

	font-family: 'dymht';
}

h1::before {
	content: 'Ⅰ';
	font-size: 2.7rem;
	font-style: italic;

	color: #004faa;
	position: absolute;
	display: inline-block;
	left: -0.3rem;
	bottom: -0.1rem;
}

/* 标题2 */
div.HyperMD-header.HyperMD-header-2.cm-line {
	padding: 0.2rem 0 0 0rem;
	border-top: 0.4rem solid transparent;
	margin-bottom: 0 !important;
}

span.cm-header.cm-header-2 {
	color: #004faa;
	font-weight: bold;
	font-size: 1.86rem !important;

	position: relative;
	display: inline-block;
}

span.cm-header.cm-header-2::first-letter {
	font-size: 3.4rem !important;
	letter-spacing: -0.03em;
}

/* .theme-dark span.cm-header.cm-header-2 {
	text-shadow: 3px 2px 0.1rem #ededed, -2px -2px 0.1rem #ededed;
} */

.theme-dark span.cm-header.cm-header-2 {
	color: #3481c5;
}

h2,
.markdown-rendered h2 {
	font-size: 1.86rem !important;
	padding: 0.4rem 0 0 0rem;
	margin-bottom: 0 !important;
	color: #004faa;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	position: relative;

	margin-block-start: 0.7rem;
}

h2::first-letter {
	font-size: 3.4rem !important;
	letter-spacing: -0.03em;
}

.theme-dark h2,
.theme-dark .markdown-rendered h2 {
	color: #3481c5;
}

.markdown-rendered div:has(> :is(p, pre, table, ul, ol))+div> :is(h2) {
	margin-top: 1rem !important;
}

/* 标题3 */
div.HyperMD-header.HyperMD-header-3.cm-line {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

span.cm-header.cm-header-3 {
	font-size: 1.5rem !important;
}

div.HyperMD-header.HyperMD-header-3.cm-line span.cm-header.cm-header-3:last-child:not(.cm-formatting-escape.cm-header.cm-header-3.cm-hmd-escape-backslash):not(span.cm-escape.cm-header.cm-header-3.cm-hmd-escape-char)::before {
	content: '###';
	font-size: 1.5rem;
	font-style: italic;
	color: #3481c5;

	opacity: 70%;
	border-radius: 0.6rem;

	margin-right: 0.5rem;
}

.markdown-rendered div:has(> :is(p, pre, table, ul, ol))+div> :is(h3) {
	margin-top: 0.7rem;
}

h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem !important;
	margin-block-start: 0.5rem;
	margin-block-end: 0.1rem !important;
	text-align: center;
	position: relative;
}

h3::before {
	content: '###';
	font-size: 1.5rem;
	font-style: italic;
	color: #3481c5;
	opacity: 70%;
	display: inline-block;
	margin-right: 0.5rem;
}

.HyperMD-header-2.cm-line+.HyperMD-header-3.cm-line {
	padding-top: 0.2rem;
}


/* 标题4 */
.cm-header.cm-header-4:not(.cm-formatting-header-4) {
	font-size: 0.86em !important;
	position: relative;
	font-weight: 500;
}

.theme-dark .cm-header.cm-header-4:not(.cm-formatting-header-4) {
	color: #ededed;
	font-weight: 500;
}

.cm-header-4:not(.cm-formatting-header-4, .cm-hmd-escape-backslash)::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 0rem;
	right: 0;

	height: 0.75rem;

	padding: 0rem 0rem 0rem 0rem;
	background-color: #88b9e677;
	z-index: -1;
}

.theme-dark .cm-header-4:not(.cm-formatting-header-4, .cm-hmd-escape-backslash)::before {
	background-color: #88b9e6b2;
}

/* 编辑模式下，与文字上下间距 */
.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-4 {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

h4[data-heading] {
	font-size: 1.1em;
	display: inline-block;
	position: relative;

	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0rem;

	font-weight: 500;
	z-index: 0;
}

h4[data-heading]::after {
	content: "";
	position: absolute;
	top: 21px;
	left: 0rem;
	right: 0;

	height: 0.8rem;

	padding: 0rem 0rem 0rem 0rem;
	background-color: #88b9e677;
	z-index: -1;
}

.theme-dark h4[data-heading]::after {
	background-color: #88b9e6b2;
}

.markdown-rendered div:has(> :is(p, pre, table, ul, ol))+div> :is(h4) {
	margin-top: 0;
}

/* -------------------------------------------------------------- */
/*
行内代码
*/
/* 行内代码的头尾两个点 */
div.cm-active.cm-line .cm-s-obsidian .cm-formatting {
	margin: 0.2rem;
}

/* 编辑模式 */
.cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
	font-family: "Source Code Pro Regular", "Source Code Pro", monospace;
	padding: 0.1rem 0.17rem;
	margin-left: 0.07rem;
	margin-right: 0.2rem;
	box-shadow: 0.12rem 0.02rem 0.4rem rgb(150, 150, 150);
}

.theme-light .cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
	background-color: rgb(247, 247, 247);
}

/* 阅读模式，行内代码 */
.markdown-rendered code:not(pre code) {
	margin-right: 0.25rem;
	font-family: "Source Code Pro Regular", "Source Code Pro", monospace;
	box-shadow: 0.12rem 0.02rem 0.4rem rgb(150, 150, 150);
	margin-left: 0.25rem;
	margin-right: 0.28rem;
}

.theme-light .markdown-rendered code:not(pre code) {
	/* color: rgb(0, 0, 0); */
	background-color: rgb(247, 247, 247);
}

/* -------------------------------------------------------------- */
/*
代码块
*/
/* 编辑模式下的代码块的前面 */
.HyperMD-codeblock-begin-bg::before {
	content: '';
	display: block;
	height: 27px;
	width: 48px;
	background: url("https://obsidian-1307744200.cos.ap-guangzhou.myqcloud.com/%E5%9B%BE%E7%89%87/www.alltoall.net_code_TIsQAE49wV.jpg") center center no-repeat;
	background-size: 100%;
	text-align: left;
	margin-left: -5px;
	background-position: center 10px;
}

/* 阅读模式下的代码块的前面 */
pre::before {
	content: '';
	display: block;
	height: 20px;
	width: 48px;
	background: url("https://obsidian-1307744200.cos.ap-guangzhou.myqcloud.com/%E5%9B%BE%E7%89%87/www.alltoall.net_code_TIsQAE49wV.jpg") center center no-repeat;
	background-size: 100%;
	text-align: left;
	margin-left: -5px;
	background-position: center 1px;
}


/* 编辑模式下的代码块设置背景和圆角 */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock-begin {
	border-radius: 0.4rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock-end {
	border-radius: 0.4rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* 编辑模式下的代码块内代码设置字体 */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
	font-family: 'JetBrains Mono' !important;
	font-size: 16px;
}

/* 阅读模式下的代码块设置背景和圆角 */
.markdown-rendered pre {
	/* background-color: rgb(247, 247, 247); */
	box-shadow: 0.12rem 0.02rem 0.6rem rgb(150, 150, 150);
	border-bottom: none;
	border-radius: 0.5rem;
}

/* 阅读模式下的代码块内代码设置字体 */
.markdown-rendered pre code {
	font-family: 'JetBrains Mono' !important;
	font-size: 16px;
}

/* 阅读模式的代码块不换行 */
body:not(.whole-code-wrap) code[class*='language-'],
body:not(.whole-code-wrap) pre[class*='language-'] {
	word-spacing: normal;
	word-break: normal;
	word-wrap: break-word;
	white-space: pre;
	white-space-collapse: preserve;
	text-wrap: nowrap;
	-moz-tab-size: 4 !important;
	-o-tab-size: 4 !important;
	tab-size: 4 !important;
}

/* 代码高亮 */
/* 编辑模式 */
.theme-light span.cm-hmd-codeblock.cm-type,
.theme-light span.cm-hmd-codeblock.cm-keyword,
.theme-light span.cm-hmd-codeblock.cm-tag {
	color: #174ad4;
}

.theme-light span.cm-hmd-codeblock.cm-variable {
	color: #851691;
}

.theme-light span.cm-hmd-codeblock.cm-operator {
	color: #000000;
}

.theme-light span.cm-def.cm-hmd-codeblock {
	color: #000000;
}

.theme-light .cm-property,
.theme-light .cm-qualifier,
.theme-light .cm-string,
.theme-light .cm-string-2 {
	color: #067D17;
}

.theme-light span.cm-atom.cm-hmd-codeblock {
	color: #000000;
}


/* 阅读模式 */
.theme-light span.token.keyword,
.theme-light span.token.boolean,
.theme-light span.token.number,
.theme-light span.token.tag {
	color: #174ad4;
}

.theme-light span.token.annotation.punctuation {
	color: #9E880D;
}

.theme-light span.token.class-name {
	color: #000000;
}

.theme-light span.token.generics {
	color: #000000;
}

.theme-light span.token.function {
	color: #00627A;
}

.theme-light span.token.operator {
	color: #000000;
}

.theme-light .token.property-access,
.theme-light .token.property,
.theme-light span.token.string {
	color: #067D17;
}

.theme-light span.token.namespace {
	color: #000000;
}

.theme-light .token.constant,
.theme-light .token.selector,
.theme-light code[class*='language-'] {
	color: #851691;
}

/* 关闭代码块缩进的线 */
.markdown-source-view.mod-cm6 .cm-indent::before {
	content: none;
	display: none;
}

/* callout里的代码块 */
.markdown-source-view.mod-cm6 .cm-embed-block pre {
	margin: 1rem auto 1rem 0.3rem;
	max-width: 96%;
}

.callout-content>pre {
	position: relative;
	margin: 1rem 1rem 1rem 1rem;
	max-width: 94%;
	padding-right: 20;
}

div.markdown-reading-view .callout-content>pre {
	left: -11px;
}

/* ---------------------------------------------------------------------------------------------- */
/* 无序列表 */
/* 编辑模式 */
.markdown-rendered ul {
	margin-block-start: 0.5rem;
	/* margin-block-end: 0.5rem; */
}

div>ul {
	padding-inline-start: 1.3rem !important;
}

/* 那个点 */
.cm-list-1>.list-bullet::after {
	background-color: #ed6c60;
	height: 0.4rem;
	width: 0.4rem;
}

.cm-list-2>.list-bullet::after {
	background-color: #f7c151;
	height: 0.4rem;
	width: 0.4rem;
}

.cm-list-3>.list-bullet::after {
	background-color: #64c856;
	height: 0.4rem;
	width: 0.4rem;
}

div.HyperMD-list-line {
	transform: translate(-14px, 0px);
}

/* 阅读模式 */
/* 一级无序列表 */
.has-list-bullet>li>.list-bullet::after {
	background-color: #ed6c60;
	height: 0.4rem;
	width: 0.4rem;
}

/* 二级无序列表 */
.has-list-bullet>li>.has-list-bullet>li>.list-bullet::after {
	background-color: #f7c151;
}

/* 三级无序列表 */
.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.list-bullet::after {
	background-color: #64c856;
}

/* 四级无序列表 */
.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.list-bullet::after {
	background-color: #ed6c60;
	height: 0.4rem;
	width: 0.4rem;
}

/* 五级无序列表 */
.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.list-bullet::after {
	background-color: #f7c151;
	height: 0.4rem;
	width: 0.4rem;
}

/* 六级无序列表 */
.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.list-bullet::after {
	background-color: #64c856;
	height: 0.4rem;
	width: 0.4rem;
}

/* 七级无序列表 */
.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.has-list-bullet>li>.list-bullet::after {
	background-color: #ed6c60;
	height: 0.4rem;
	width: 0.4rem;
}

/* callout里的无序列表 */
blockquote ul {
	padding-inline-start: 1.3rem !important;
}

.callout-content>ul>li:last-child {
	margin-bottom: -15px;
}

ul>li::marker {
	color: #ed6c60;
	font-weight: bold;
}

ul>li>ul>li::marker {
	color: #f7c151;
	font-weight: bold;
}

ul>li>ul>li>ul>li::marker {
	color: #64c856;
	font-weight: bold;
}

ul>li>ul>li>ul>li>ul>li::marker {
	color: #ed6c60;
	font-weight: bold;
}

ul>li>ul>li>ul>li>ul>li>ul>li::marker {
	color: #f7c151;
	font-weight: bold;
}

ul>li>ul>li>ul>li>ul>li>ul>li>ul>li::marker {
	color: #64c856;
	font-weight: bold;
}

ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li::marker {
	color: #ed6c60;
	font-weight: bold;
}

/* 任务列表 */
input[type=checkbox] {
	width: 17px;
	height: 17px;
}

.markdown-rendered.show-indentation-guide ul.contains-task-list .has-list-bullet::before {
	left: -1.05em;
}

input[type=checkbox]:checked {
	background-color: hsla(210, 34%, 63%, 0.8);
	border-color: hsla(210, 34%, 63%, 0.8);
}

@media (hover:hover) {
	input[type=checkbox]:checked:hover {
		background-color: #ffffff;
		border-color: hsla(210, 34%, 63%, 0.8);
	}
}

ul>li.task-list-item[data-task="x"],
ul>li.task-list-item[data-task="X"] {
	color: #797979;
}

/* ---------------------------------------------------------------------------------- */
/* 有序列表 */
div>ol li[data-line]:not(:nth-child(n+10)) {
	transform: translate(-22px, 0px);
}

div>ol li[data-line]:nth-child(n+10) {
	transform: translate(-12px, 0px);
}

/* 编辑模式 */
.cm-list-1>.list-number {
	color: #ed6c60;
	font-weight: bold;
}

.cm-list-2>.list-number {
	color: #f7c151;
	font-weight: bold;
}

.cm-list-3>.list-number {
	color: #64c856;
	font-weight: bold;
}

/* 阅读模式 */
.markdown-rendered ol {
	margin-block-start: 0.4rem;
}

ol>li::marker {
	color: #ed6c60;
	font-weight: bold;
}

ol>li>ol>li::marker {
	color: #f7c151;
	font-weight: bold;
}

ol>li>ol>li>ol>li::marker {
	color: #64c856;
	font-weight: bold;
}

ol>li>ol>li>ol>li>ol>li::marker {
	color: #ed6c60;
	font-weight: bold;
}

ol>li>ol>li>ol>li>ol>li>ol>li::marker {
	color: #f7c151;
	font-weight: bold;
}

/* 引用框 */
/* 编辑模式 */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before,
.markdown-source-view.mod-cm6 .cm-blockquote-border:before {
	border-left: 0.27rem solid #004faa;
	position: absolute;
}

.HyperMD-quote-1 {
	background-color: #88b9e63d !important;
	border-radius: 0 0.3rem 0.3rem 0;
}

.HyperMD-quote-1 .cm-quote-1 {
	margin: 0.2rem;
}

/* 阅读模式 */
.markdown-rendered blockquote {
	border-left: 0.27rem solid #004faa;
	background-color: #88b9e63d !important;

	padding: 0.8rem 0.5rem 0.8rem 1rem;
	margin-left: 0.1rem;

	border-radius: 0 0.3rem 0.3rem 0;
}

blockquote {
	margin-block-start: 0.5rem;
	margin-block-end: 0.5rem;
}

/* callout */
div.callout-content {
	margin-top: 0.5rem;
}

/* 分割线 */
/* 编辑模式 */
.markdown-source-view.mod-cm6 hr {
	border-image: linear-gradient(to right, transparent 0%, hsl(210, 34%, 63%) 20%, hsl(210, 34%, 63%) 40%, hsl(210, 34%, 63%) 60%, hsl(210, 34%, 63%) 80%, transparent 100%) 1;
	border-width: 2px;
}

/* 阅读模式 */
.markdown-rendered hr {
	border-image: linear-gradient(to right, transparent 0%, hsl(210, 34%, 63%) 20%, hsl(210, 34%, 63%) 40%, hsl(210, 34%, 63%) 60%, hsl(210, 34%, 63%) 80%, transparent 100%) 1;
	border-width: 2px;
}

/* ---------------------------------------------------------------------------------------------- */
/* 表格 */
/* 编辑模式 */
:is(.markdown-preview-view, .markdown-rendered) table {
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.markdown-rendered table {
	border-collapse: collapse;
	line-height: 1.3;
}

.theme-light .markdown-rendered th {
	text-align: center;
	background-color: #81a1c13c !important;
}

.theme-dark .markdown-rendered th {
	text-align: center;
	background-color: #8fb2d56c !important;
}

.theme-light .markdown-rendered tbody tr {
	background-color: #f2f2f2;
}

.theme-light .markdown-rendered tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.theme-dark .markdown-rendered tbody tr {
	background-color: #444444;
}

.theme-dark .markdown-rendered tbody tr:nth-child(odd) {
	background-color: #252525;
}

/* ---------------------------------------------------------------------------------- */
/* 标签 */
a.tag {
	background-color: hsla(210, 34%, 63%, 0.17);
}

@media (hover: hover) {
	a.tag:hover {
		color: hsla(210, 34%, 63%);
		background-color: hsla(210, 34%, 63%, 0.3);
	}
}

.cm-hashtag {
	color: hsla(210, 34%, 63%);
	background-color: hsla(210, 34%, 63%, 0.17);
}

.cm-s-obsidian .cm-formatting {
	margin: 0rem;
}

/* ----------------------------------------------------------------------------------------------- */
/* 脚注 */
.cm-s-obsidian span.cm-footref {
	color: hsla(210, 34%, 63%);
	border: none;
}

span.cm-hmd-barelink.cm-link,
span.cm-formatting.cm-formatting-link.cm-hmd-barelink.cm-link,
span.cm-hmd-barelink.cm-link {
	border: none;
}

span.cm-hmd-footnote.cm-link {
	margin: auto 0.3rem auto auto;
	border-bottom: none;
}

sup.footnote-ref {
	color: hsla(210, 34%, 63%);
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* mermaid */
.mermaid {
	overflow: auto;
	scrollbar-color: gray darkgray;
}

.mermaid::-webkit-scrollbar {
	width: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* 上方工具栏 */
/* 视图按钮 */
body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-edit-3 {
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>');
}

body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-book-open {
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m7 17.013 4.413-.015 9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583-1.597 1.582-1.586-1.585 1.594-1.58zM9 13.417l6.03-5.973 1.586 1.586-6.029 5.971L9 15.006v-1.589z"></path><path d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z"></path></svg>');
	background-color: var(--theme-color);
}

body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-edit-3,
body:not(.remove-custom-svg-icons) .workspace-leaf-content .view-header .view-actions svg.svg-icon.lucide-book-open {
	background-color: currentColor;
}

/* 页面内的标签属性 */
.multi-select-pill {
	color: hsla(210, 34%, 63%);
	background-color: hsla(210, 34%, 63%, 0.17);
}

@media (hover: hover) {
	.multi-select-pill:hover {
		color: hsla(210, 34%, 63%);
		background-color: hsla(210, 34%, 63%, 0.3);
	}
}

.multi-select-pill-remove-button {
	color: hsla(210, 34%, 63%);
}

/* 背景图片 */
.markdown-reading-view {
	background-image: linear-gradient(90deg, #c7c7c740 3%, transparent 0), linear-gradient(#c7c7c740 3%, transparent 0);
	background-size: 25px 25px;
}

.theme-dark .markdown-reading-view {
	background-image: linear-gradient(90deg, #6b6b6b40 3%, transparent 0), linear-gradient(#6b6b6b40 3%, transparent 0);
	background-size: 25px 25px;
}

.cm-editor.ͼ1.ͼ2 {
	background-image: linear-gradient(90deg, #c7c7c740 3%, transparent 0), linear-gradient(#c7c7c740 3%, transparent 0);
	background-size: 25px 25px;
}

.theme-dark .cm-editor.ͼ1.ͼ2 {
	background-image: linear-gradient(90deg, #6b6b6b40 3%, transparent 0), linear-gradient(#6b6b6b40 3%, transparent 0);
	background-size: 25px 25px;
}